<h1>PARKING COST CALCULATOR</h1>
<form action="/parkcalc" method="post" name="ParkcalcForm">
<table>
  <tbody>
    <tr>
      <th>Choose a parking lot</th>
      <td><select name="parkingLot" id="ParkingLot">
          <% parkingLots().each do |e| %>
          <option value="<%= h e.value %>" <%= "selected" if e.selected %>><%= h e.label %></option>
          <% end %>
      </select></td>
    </tr>
    <tr>
      <th>Please input entry date and time</th>
      <td><input type="text" name="startingDate" value="<%= h form.startingDate %>" /><input type="text" name="startingTime" value="<%= h form.startingTime %>" /><input type="radio" name="startingTimeAMPM" value="AM" <%= "checked" if "AM" == form.startingTimeAMPM %>/>AM<input type="radio" name="startingTimeAMPM" value="PM" <%= "checked" if "PM" == form.startingTimeAMPM %>/>PM</td>
    </tr>
    <tr>
      <th>Please input leaving date and time</th>
      <td><input type="text" name="leavingDate" value="<%= h form.leavingDate %>" /><input type="text" name="leavingTime" value="<%= h form.leavingTime %>" /><input type="radio" name="leavingTimeAMPM" value="AM" <%= "checked" if "AM" == form.leavingTimeAMPM %>/>AM<input type="radio" name="leavingTimeAMPM" value="PM" <%= "checked" if "PM" == form.leavingTimeAMPM %>/>PM</td>
    </tr>
    <tr>
      <th>ESTIMATED PARKING COSTS</th>
      <td><div id="EstimatedParkingCosts"><%= h estimatedParkingCosts %></div></td>
    </tr>
  </tbody>
</table>
<input type="submit" name="submit" value="Calculate" />
</form>
